body {
    color: #333333;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono";
}

canvas {
    border:1px solid #d3d3d3;
    background-image: url("../resources/level/floor.png");
    background-repeat: repeat;
}

#xANDy {
    position: absolute;
}

#object-selector {
    margin: 1em;
    border-collapse: collapse;
}

#object-selector td {
    border: 2px solid #00bcb7;
    background-color: #e0ffc8;
}
#object-selector td:hover {
    background-color: #00bcb7;
    cursor: pointer;
}

#object-selector td > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

#object-selector td > div > p {
    margin: 0 0 6px 0;
}