body {
    color: #333333;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono";
}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

#information-wrapper {
    border: 2px solid #00bcb7;
    background-color: #e0ffc8;
    width: 400px;
    text-align: center;
    position: absolute;
    left: 200px;
    top: 10px;
    padding: 1em;
}

.hidden {
    display: none;
}